<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.demo.mapper.StudentMapper">

    <!-- 增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO test_student (
            sort,name,name_all,gender,identity_type,identity,birthday,phone,email
        ) VALUES (
            #{sort},#{name}, #{nameAll}, #{gender},#{identityType},#{identity},#{birthday},#{phone},#{email}
        )
    </insert>

    <!--批量添加 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO test_student (
        sort,name,name_all,gender,identity_type,identity,birthday,phone,email
        ) VALUES
        <foreach collection="list" item="student" separator=",">
            (#{student.sort},
             #{student.name},
             #{student.nameAll},
             #{student.gender},
             #{student.identityType},
             #{student.identity},
             #{student.birthday},
             #{student.phone},
             #{student.email})
        </foreach>
    </insert>


    <!-- 用id删-->
    <delete id="deleteById">
        DELETE FROM test_student WHERE id=#{id}
    </delete>


    <!--ID批量删-->
    <delete id="deleteByIds">
        DELETE FROM test_student WHERE id IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>





    <!-- 全表改 -->
    <update id="updateById">
        UPDATE
            test_student
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="nameAll != null">
                name_all=#{nameAll},
            </if>
            <if test="gender != null">
                gender=#{name},
            </if>
            <if test="identityType != null">
                identity_type=#{identityType},
            </if>
            <if test="identity != null">
                identity=#{identity},
            </if>
            <if test="birthday != null">
                birthday=#{birthday},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--根据id查单个-->
    <select id="getStandardById" resultMap="ResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        test_student
        WHERE
        id=#{id}
    </select>
    <!--根据姓名查单个-->
    <select id="getStandardByName" resultMap="ResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        test_student
        WHERE
        name=#{name}
    </select>

    <!--批量查-->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        test_student
        ORDER BY
        name
    </select>



    <sql id="StandardQueryFields">
        <if test="true">
            sort,name,name_all,gender,identity_type,identity,
            birthday,phone,email
        </if>
    </sql>

    <sql id="ListQueryFields">
       <if test="true">
           sort,name,name_all,gender,identity_type,identity,
           birthday,phone,email,create_time,update_time
       </if>
    </sql>

<!--COL:数据库字段, property:对象-->
    <resultMap id="ListResultMap"
               type="com.example.test.demo.pojo.vo.StudentListItemVO">
        <id column="sort" property="sort"/>
        <result column="name" property="name"/>
        <result column="name_all" property="nameAll"/>
        <result column="gender" property="gender"/>
        <result column="identity_type" property="identityType"/>
        <result column="identity" property="identity"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>

    <resultMap id="ResultMap"
               type="com.example.test.demo.pojo.vo.StudentVO">
        <id column="sort" property="sort"/>
        <result column="name" property="name"/>
        <result column="name_all" property="nameAll"/>
        <result column="gender" property="gender"/>
        <result column="identity_type" property="identityType"/>
        <result column="identity" property="identity"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>








</mapper>